In [1]:
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_csv('sales_data.csv')

In [3]:
data.head()

         date     product     category   price  quantity  revenue
0  2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1  2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2  2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3  2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4  2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    datetime64[ns]
 1   product   369 non-null    category
 2   category  369 non-null    category
 3   price     367 non-null    float64
 4   quantity  368 non-null    float64
 5   revenue   368 non-null    float64
dtypes: category(2), datetime64[ns](1), float64(3)
memory usage: 13.4 KB

In [5]:
data['date'] = pd.to_datetime(data['date'])

In [7]:
data['category'] = data['category'].astype('category')
data['product'] = data['product'].astype('category')

In [26]:
data.isnull().sum()

date        0
product     0
category    0
price       0
quantity    0
revenue     0
dtype: int64

In [25]:
data[data['revenue'].isnull()]

Empty DataFrame
Columns: [date, product, category, price, quantity, revenue]
Index: []

In [35]:
2250/15

150.0

In [22]:
test = data[data['revenue'].isnull()].apply(lambda x: x['price'] * x['quantity'], axis=1)

In [23]:
test

96    2000.0
dtype: float64

In [24]:
data['revenue'] = data['revenue'].fillna(test)