In [2]:
import numpy as np
from faker import Faker
import pandas as pd

In [21]:
fake = Faker()

sales_data = [
    (str(fake.word() + " " + fake.word()), np.random.randint(10, 500), fake.date_this_year(), np.random.randint(18, 70))
    for _ in range(100)
]
sales_df = pd.DataFrame(sales_data, columns=["product", "sale amount", "date", "age"])

In [22]:
sales_data = {
    "product": [fake.word() for _ in range(100)],
    "sale amount": [np.random.randint(10, 500) for _ in range(100)],
    "date": [fake.date_this_year() for _ in range(100)],
    "age": [np.random.randint(18, 70) for _ in range(100)]
}

In [23]:
sales_df = pd.DataFrame(sales_data)

In [24]:
sales_df

     product  sale amount        date  age
0   resource          213  2024-06-01   22
1      phone          222  2024-02-02   49
2    teacher          291  2024-01-09   47
3    realize           64  2024-07-24   65
4       talk          421  2024-02-23   53
..       ...          ...         ...  ...
95       day          190  2024-07-07   57
96    manage           39  2024-04-27   63
97      head          141  2024-05-08   35
98    modern          433  2024-02-10   44
99    behind          440  2024-03-28   40

[100 rows x 4 columns]