In [1]:
import kaggle

# Download the dataset
kaggle.api.dataset_download_files("groleo/european-football-database", path=".", unzip=True)

Dataset URL: https://www.kaggle.com/datasets/groleo/european-football-database

In [31]:
import sqlalchemy as db
engine = db.create_engine("sqlite:///european_database.sqlite")

conn = engine.connect()

In [32]:
# Extracting the metadata
metadata = db.MetaData()

# Reflect the existing database to get the tables
metadata.reflect(bind=engine)
# Print all table names to verify the available tables
print("Available tables:", metadata.tables.keys())

Available tables: dict_keys(['divisions', 'matchs', 'teams'])

In [6]:
metadata.tables.keys()

dict_keys(['divisions', 'matchs'])

In [7]:
# Check if 'divisions' table exists and create a Table object for it
if 'divisions' in metadata.tables:
    division= db.Table('divisions', metadata, autoload=True, autoload_with=engine)
    # Print the metadata for the 'divisions' table
    print(repr(division))
else:
    raise Exception("Table 'divisions' does not exist in the database.")

Table('divisions', MetaData(), Column('division', TEXT(), table=<divisions>), Column('name', TEXT(), table=<divisions>), Column('country', TEXT(), table=<divisions>), schema=None)

In [8]:
# Extracting the metadata
metadata = db.MetaData()

# Define the table structure for 'teams'
teams = db.Table(
    'teams', metadata,
    db.Column('team_id', db.Integer, primary_key=True),
    db.Column('team_name', db.Text, nullable=False),
    db.Column('city', db.Text, nullable=False)
)

# Create the table in the database (if it does not already exist)
metadata.create_all(engine)

# Reflect the existing database to get the tables
metadata.reflect(bind=engine)

# Verify that the 'teams' table exists and print its metadata
if 'teams' in metadata.tables:
    team = metadata.tables['teams']
    print(repr(team))
else:
    raise Exception("Table 'teams' does not exist in the database.")


# Reflect the existing database to get the tables
metadata.reflect(bind=engine)

# Print all table names to verify the available tables
print("Available tables:", metadata.tables.keys())

Table('teams', MetaData(), Column('team_id', Integer(), table=<teams>, primary_key=True, nullable=False), Column('team_name', Text(), table=<teams>, nullable=False), Column('city', Text(), table=<teams>, nullable=False), schema=None)
Available tables: dict_keys(['teams', 'divisions', 'matchs'])

In [9]:
# Extracting the metadata
metadata = db.MetaData()

# Reflect the existing database to get the tables
metadata.reflect(bind=engine)

# Check if 'divisions' table exists and create a Table object for it
if 'divisions' in metadata.tables:
    division = metadata.tables['divisions']
    # Print the column names and their types
    print("Columns in 'divisions' table:")
    for column in division.columns:
        print(f"{column.name}: {column.type}")
     # Select all rows from the 'divisions' table

    # Select all rows from the 'divisions' table
    query = db.select(division)
    result_proxy = conn.execute(query)

    # Fetch all rows from the result proxy
    rows = result_proxy.fetchall()

    # Print the rows
    print("\nRows in 'divisions' table:")
    for row in rows:
        print(row)
else:
    raise Exception("Table 'divisions' does not exist in the database.")

Columns in 'divisions' table:
division: TEXT
name: TEXT
country: TEXT

Rows in 'divisions' table:
('B1', 'Division 1A', 'Belgium')
('D1', 'Bundesliga', 'Deutschland')
('D2', '2. Bundesliga', 'Deutschland')
('E0', 'Premier League', 'England')
('E1', 'EFL Championship', 'England')
('E2', 'EFL League One', 'England')
('E3', 'EFL League Two', 'England')
('EC', 'National League', 'England')
('F1', 'Ligue 1', 'France')
('F2', 'Ligue 2', 'France')
('G1', 'Superleague', 'Greece')
('I1', 'Seria A', 'Italy')
('I2', 'Seria B', 'Italy')
('N1', 'Eredivisie', 'Netherlands')
('P1', 'Liga NOS', 'Portugal')
('SC0', 'Scottish Premiership', 'Scotland')
('SC1', 'Scottish Championship', 'Scotland')
('SC2', 'Scottish League One', 'Scotland')
('SP1', 'LaLiga', 'Spain')
('SP2', 'LaLiga 2', 'Spain')
('T1', 'SÃ¼per Lig', 'Turkey')

In [10]:
query = division.select() #SELECT * FROM divisions
print(query)

SELECT divisions.division, divisions.name, divisions.country
FROM divisions

In [11]:
exe = conn.execute(query) #executing the query
result = exe.fetchmany(5) #extracting top 5 results
print(result)

[('B1', 'Division 1A', 'Belgium'), ('D1', 'Bundesliga', 'Deutschland'), ('D2', '2. Bundesliga', 'Deutschland'), ('E0', 'Premier League', 'England'), ('E1', 'EFL Championship', 'England')]

## Create Tables

In [1]:
import sqlalchemy as db

In [2]:
engine = db.create_engine('sqlite:///datacamp.sqlite')
conn = engine.connect()
metadata = db.MetaData()

Student = db.Table('Student', metadata,
              db.Column('Id', db.Integer(),primary_key=True),
              db.Column('Name', db.String(255), nullable=False),
              db.Column('Major', db.String(255), default="Math"),
              db.Column('Pass', db.Boolean(), default=True)
              )

metadata.create_all(engine)

In [3]:
# Create the table in the database (if it does not already exist)
metadata.create_all(engine)

# Insert a new row into the 'Student' table
query = db.insert(Student).values(Name='Matthew', Major='English', Pass=True)
result = conn.execute(query)
print(result)

<sqlalchemy.engine.cursor.CursorResult object at 0x117742f90>

In [4]:
# Fetch and print all rows from the 'Student' table to verify the insertion
query = db.select(Student)
result_proxy = conn.execute(query)
rows = result_proxy.fetchall()
print("\nRows in 'Student' table:")
for row in rows:
    print(row)

Rows in 'Student' table:
(1, 'Matthew', 'English', True)

In [5]:
query = db.insert(Student)
values_list = [{'Id':'2', 'Name':'Nisha', 'Major':"Science", 'Pass':False},
              {'Id':'3', 'Name':'Natasha', 'Major':"Math", 'Pass':True},
              {'Id':'4', 'Name':'Ben', 'Major':"English", 'Pass':False}]
Result = conn.execute(query,values_list)

In [6]:
output = conn.execute(db.select(Student)).fetchall()
print(output)

[(1, 'Matthew', 'English', True), (2, 'Nisha', 'Science', False), (3, 'Natasha', 'Math', True), (4, 'Ben', 'English', False)]

In [7]:
query = db.text("SELECT * FROM Student")
output = conn.execute(query)
print(output.fetchall())

[(1, 'Matthew', 'English', 1), (2, 'Nisha', 'Science', 0), (3, 'Natasha', 'Math', 1), (4, 'Ben', 'English', 0)]

In [8]:
query = db.text("SELECT Name, Major FROM Student WHERE Pass = True")
output = conn.execute(query)
print(output.fetchall())

[('Matthew', 'English'), ('Natasha', 'Math')]

In [9]:
query = db.select(Student).where(Student.columns.Pass == True)
output = conn.execute(query)
print(output.fetchall())

[(1, 'Matthew', 'English', True), (3, 'Natasha', 'Math', True)]

In [10]:
query = Student.select().where(db.and_(Student.columns.Major == 'English', Student.columns.Pass != True))
output = conn.execute(query)
print(output.fetchall())

[(4, 'Ben', 'English', False)]

In [11]:
query = Student.select().where(Student.columns.Major.in_(['English','Math']))
output = conn.execute(query)
print(output.fetchall())

[(1, 'Matthew', 'English', True), (3, 'Natasha', 'Math', True), (4, 'Ben', 'English', False)]

## To Pandas DF

In [17]:
query = Student.select().where(Student.columns.Major.in_(['English','Math']))
output = conn.execute(query)
results = output.fetchall()

In [18]:
results

[(1, 'Matthew', 'English', True),
 (3, 'Natasha', 'Math', True),
 (4, 'Ben', 'English', False)]

In [19]:
output.keys()

RMKeyView(['Id', 'Name', 'Major', 'Pass'])

In [20]:
import pandas as pd
data = pd.DataFrame(results)

# Set the DataFrame columns using the keys from the first row
data.columns = output.keys()
(data)

   Id     Name    Major   Pass
0   1  Matthew  English   True
1   3  Natasha     Math   True
2   4      Ben  English  False

In [21]:
engine = db.create_engine("sqlite:///european_database.sqlite")
conn = engine.connect()
metadata = db.MetaData()
division = db.Table('divisions', metadata, autoload_with=engine)
match = db.Table('matchs', metadata, autoload_with=engine)

# Verify the tables by printing their columns
print("Columns in 'divisions' table:")
for column in division.columns:
    print(f"{column.name}: {column.type}")

print("\nColumns in 'matchs' table:")
for column in match.columns:
    print(f"{column.name}: {column.type}")

Columns in 'divisions' table:
division: TEXT
name: TEXT
country: TEXT

Columns in 'matchs' table:
Div: TEXT
Date: DATE
HomeTeam: TEXT
AwayTeam: TEXT
FTHG: REAL
FTAG: REAL
FTR: TEXT
season: INTEGER

In [ ]:
select *
from division
join match on division.division = match.div
where division.division = 'E1' and match.season = 2009
order by match.hometeam;

In [23]:
print(query)

SELECT divisions.division, divisions.name, divisions.country, matchs."Div", matchs."Date", matchs."HomeTeam", matchs."AwayTeam", matchs."FTHG", matchs."FTAG", matchs."FTR", matchs.season
FROM divisions JOIN matchs ON divisions.division = matchs."Div"
WHERE divisions.division = :division_1 AND matchs.season = :season_1 ORDER BY matchs."HomeTeam"

In [24]:
#  Create a query to join the tables and filter the results
query = db.select(
    division, match
).select_from(
    division.join(match, division.c.division == match.c.Div)
).where(
    db.and_(division.c.division == "E1", match.c.season == 2009)
).order_by(
    match.c.HomeTeam
)

# Execute the query
output = conn.execute(query)
results = output.fetchall()

# Convert the results to a DataFrame
data = pd.DataFrame(results)
data.columns = output.keys()
(data)

,division,name,country,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,season
0,E1,EFL Championship,England,E1,2008-08-16,Barnsley,Coventry,1.0,2.0,A,2009
1,E1,EFL Championship,England,E1,2008-08-30,Barnsley,Derby,2.0,0.0,H,2009
2,E1,EFL Championship,England,E1,2008-09-16,Barnsley,Cardiff,0.0,1.0,A,2009
3,E1,EFL Championship,England,E1,2008-09-27,Barnsley,Norwich,0.0,0.0,D,2009
4,E1,EFL Championship,England,E1,2008-10-04,Barnsley,Doncaster,4.0,1.0,H,2009
...,...,...,...,...,...,...,...,...,...,...,...
547,E1,EFL Championship,England,E1,2009-03-10,Wolves,Ipswich,0.0,0.0,D,2009
548,E1,EFL Championship,England,E1,2009-03-14,Wolves,Charlton,2.0,1.0,H,2009
549,E1,EFL Championship,England,E1,2009-04-10,Wolves,Southampton,3.0,0.0,H,2009
550,E1,EFL Championship,England,E1,2009-04-18,Wolves,QPR,1.0,0.0,H,2009
551,E1,EFL Championship,England,E1,2009-05-03,Wolves,Doncaster,1.0,0.0,H,2009

In [30]:
import sqlalchemy as db
from sqlalchemy.sql import text
import pandas as pd

# Create the engine
engine = db.create_engine("sqlite:///european_database.sqlite")

# Connect to the engine
conn = engine.connect()

# Execute a raw SQL query to select all columns from 'matchs' table where HomeTeam is 'Norwich'
query = text("SELECT * FROM matchs")
output = conn.execute(query)
results = output.fetchall()

# Convert the results to a DataFrame
data = pd.DataFrame(results)
data.columns = output.keys()

# Save the DataFrame to a CSV file
data.to_csv('results.csv', index=False)

# Print the DataFrame to verify
(data)

       Div        Date        HomeTeam        AwayTeam  FTHG  FTAG FTR  season
0       B1  2020-08-08     Club Brugge       Charleroi   0.0   1.0   A    2021
1       B1  2020-08-08         Antwerp        Mouscron   1.0   1.0   D    2021
2       B1  2020-08-08        Standard   Cercle Brugge   1.0   0.0   H    2021
3       B1  2020-08-09      St Truiden            Gent   2.0   1.0   H    2021
4       B1  2020-08-09         Waregem            Genk   1.0   2.0   A    2021
...     ..         ...             ...             ...   ...   ...  ..     ...
123399  T1  2006-05-14     Galatasaray     Kayserispor   3.0   0.0   H    2006
123400  T1  2006-05-14   Gaziantepspor     Malatyaspor   1.0   0.0   H    2006
123401  T1  2006-05-14  Genclerbirligi        Rizespor   1.0   3.0   A    2006
123402  T1  2006-05-14      Samsunspor  Diyarbakirspor   1.0   0.0   H    2006
123403  T1  2006-05-14     Trabzonspor        Besiktas   1.0   2.0   A    2006

[123404 rows x 8 columns]

In [28]:
data = pd.read_sql("SELECT * FROM matchs WHERE HomeTeam LIKE 'Norwich'", conn)
data

    Div        Date HomeTeam          AwayTeam  FTHG  FTAG FTR  season
0    E1  2020-09-19  Norwich           Preston   2.0   2.0   D    2021
1    E1  2020-10-03  Norwich             Derby   0.0   1.0   A    2021
2    E1  2020-10-20  Norwich        Birmingham   1.0   0.0   H    2021
3    E1  2020-10-24  Norwich           Wycombe   2.0   1.0   H    2021
4    E1  2020-11-03  Norwich          Millwall   0.0   0.0   D    2021
..   ..         ...      ...               ...   ...   ...  ..     ...
343  E1  2006-03-04  Norwich             Stoke   2.0   1.0   H    2006
344  E1  2006-03-18  Norwich  Sheffield United   2.0   1.0   H    2006
345  E1  2006-04-01  Norwich         Leicester   2.0   1.0   H    2006
346  E1  2006-04-17  Norwich               QPR   3.0   2.0   H    2006
347  E1  2006-04-30  Norwich            Wolves   1.0   2.0   A    2006

[348 rows x 8 columns]

In [29]:
data = pd.read_sql_table("matchs", conn)
data

       Div       Date        HomeTeam        AwayTeam  FTHG  FTAG FTR  season
0       B1 2020-08-08     Club Brugge       Charleroi   0.0   1.0   A    2021
1       B1 2020-08-08         Antwerp        Mouscron   1.0   1.0   D    2021
2       B1 2020-08-08        Standard   Cercle Brugge   1.0   0.0   H    2021
3       B1 2020-08-09      St Truiden            Gent   2.0   1.0   H    2021
4       B1 2020-08-09         Waregem            Genk   1.0   2.0   A    2021
...     ..        ...             ...             ...   ...   ...  ..     ...
123399  T1 2006-05-14     Galatasaray     Kayserispor   3.0   0.0   H    2006
123400  T1 2006-05-14   Gaziantepspor     Malatyaspor   1.0   0.0   H    2006
123401  T1 2006-05-14  Genclerbirligi        Rizespor   1.0   3.0   A    2006
123402  T1 2006-05-14      Samsunspor  Diyarbakirspor   1.0   0.0   H    2006
123403  T1 2006-05-14     Trabzonspor        Besiktas   1.0   2.0   A    2006

[123404 rows x 8 columns]

In [24]:
data.to_csv("SQl_result.csv",index=False)